/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Body Css */

body{background-color: #191818; color: white;}

/* Header Style */

.header{
    color: white;
    text-align: center;
    margin-right: 25px;
}

.header pre{
    color: white;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.header p{
    font-family: Ubuntu;
}


/* Conviction */

.conviction{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.conviction p, h1{
    font-size:20px;
    font-family: Ubuntu;
    text-align: center;
}


/* Project Form */

.form {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    align-items: center;
}
.form img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}
.form-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 100px; 
}
.form-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: Ubuntu;
}
.form-content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-left:15px;

}

.form-content a{
text-decoration: none;
}

.form-content a:hover{
color:#00ff00;
}

/* Particle Animation */

.particle-text {
    color: #fff;
    position: relative;
    z-index: 10;
}
.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #00ff00;
    opacity: 0.75;
    pointer-events: none;
    animation: particle 2s infinite;
}
@keyframes particle {
    0% {
        background: #00ff00;
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), var(--y));
        opacity: 0;
        background: rgba(255, 0, 0, 0);
    }
}


/* HELL (responsive) */
@media only screen and (max-height:1920px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width: 1000px){
    body{
        background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgflip.com%2F1cxmjl.jpg&f=1&nofb=1&ipt=5bb145c928275c74f4d69d8fb37d7eaab42dbd2e1856c4ad4db2f9b78db27759&ipo=images");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        width: 100%;

    }
}
